/** @format */
*:focus {
  outline: 0;
}
.bg-body-tertiary {
  background-color: #f1f4ed !important;
}
#header {
  background-color: #f1f4ed;
  /* opacity: 0.1; */
}

.header-heading {
  color: #396c03;
  font-family: 'Merienda', cursive;
}

.header-paragraph {
  color: #676767;
  font-family: 'Poppins', sans-serif;
}

.body-section-paragraph {
  color: #676767;
  font-family: 'Poppins', sans-serif;
  font-size: smaller;
  font-weight: normal;
}

/* .input-group-text {
  border: 1px solid gainsboro !important;
  border-radius: 30px !important;
} */

.circle-class {
  height: 49px;
  width: 49px;
  background-color: #ff8b00;
  border-radius: 50%;
  display: inline-block;
}

.form-control {
  background-color: #f1f4ed !important;
  border: none !important;
  outline: none !important;
}

.form-control:focus {
  border: none !important;
  outline: none !important;
}

input:focus {
  border: none !important;
  outline: none !important;
}

.btn-bg {
  background-color: #396c03;
  color: white;
}

.btn:hover {
  background-color: #396c03 !important;
  color: white !important;
}

.wrapper {
  overflow-x: hidden;
}

.animated {
  animation-name: rightToLeft;
  animation-duration: 4.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rightToLeft {
  /* from {
    right: 0;
  }
  to {
    right: 100%;
    transform: translateX(-100%);
  } */
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(160px);
  }
}
