/** @format */
*:focus {
  outline: 0;
}
.bg-body-tertiary {
  background-color: #f1f4ed !important;
}
#header {
  background-color: #f1f4ed;
  /* opacity: 0.1; */
}

.badge-bg {
  background-color: #ff8b00;
  color: white;
}

.header-heading {
  color: #396c03;
  font-family: 'Merienda', cursive;
}

.header-paragraph {
  color: #676767;
  font-family: 'Poppins', sans-serif;
}

.body-section-paragraph {
  color: #676767;
  font-family: 'Poppins', sans-serif;
  font-size: smaller;
  font-weight: normal;
}

/* .input-group-text {
  border: 1px solid gainsboro !important;
  border-radius: 30px !important;
} */

.circle-class {
  height: 39px;
  width: 39px;
  background-color: #ff8b00;
  border-radius: 50%;
  margin-left: 10px;

  /* display: inline-block; */
}

.form-control {
  margin-left: 5px;
  background-color: #f1f4ed !important;
  border: none !important;
  outline: none !important;
}

.form-control:focus {
  border: none !important;
  outline: none !important;
}

input:focus {
  border: none !important;
  outline: none !important;
}

.border-class {
  border: none;
}

.btn-bg {
  background-color: #396c03;
  color: white;
}

.btn:hover {
  background-color: #396c03 !important;
  color: white !important;
}

.wrapper {
  overflow-x: hidden;
}

.animated {
  position: absolute !important;
  animation: slide-left-to-right 4.5s ease-in-out infinite !important;
}

@keyframes slide-left-to-right {
  0% {
    transform: translateX(-105%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 8s infinite linear;
}
